* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  height: 100%;
  width: 100%;

  background: #D9CDF7;
}

main {
  display: flex;
  width: 70%;
}

#picture {
  position: fixed;
  width: fit-content;
  height: fit-content;
}

.botoes {
  position: relative;
  left: 25rem;
  top: 10px;
  height: fit-content;
  width: fit-content;
}

.buttonX {
  display: none;
  cursor: pointer;
  position: relative;
  

  border: 0;
  background-color: transparent;
}

.buttonX img {
  width: 33px;
  height: 22px;
}

.rodate {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.rodete img {
  width: 33px;
  height: 22px;
}

.imgs {
  float: left;
  width: 449px;
  height: 253px;
}

#infor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
  left: 440px;
  float: right;
  

  height: fit-content;
  width: fit-content;
  color: #fff;

  gap: 10px;
}

#infor p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;

  color: #271A45;

  margin: 30px 0 0 0;
}

#infor h1 {
  font-family: 'Crimson pro';
  font-style: normal;
  line-height: 32px;
  font-weight: 700;
  font-size: 32px;

  color: #271A45;
}

#infor h2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #271A45;
}

.adc {
  width: 148px;
  height: 32px;

  border: 1px solid #271A45;

  margin: 30px 0 0 0;

  background-color: transparent;
  border-radius: 15px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  color:  #271A45;

  transition: 0.50s;
}

.adc:hover {
  cursor: pointer;

  transition: 0.50s;

  background-color: #271A45;
  color: #D9CDF7;
}