 @import url('https://fonts.googleapis.com/css2? family=Lato:wght@300;400&family=Open+Sans:wght@300;400;500&display=swap');
 @import url('https://fonts.googleapis.com/css2? family=Crimson+Pro:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  height: 100%;
  width: 100%;

  background: #D9CDF7;
}

main {
  display: flex;

  width: 70%;
  gap: 12px;
}

#picture {
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
}

#infor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  height: fit-content;
  width: fit-content;
  color: #fff;
}

#infor p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;

  color: #271A45;
}

#infor h1 {
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 600;
  font-size: 32px;
  color: black;
}

#infor h2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #271A45;
}

button {
  width: 148px;
  height: 32px;

  border: 0.5px solid #271A45;

  border-radius: 999px;

  background-color: transparent;
  border-radius: 20%;

  color: #fff;
}